.controllers .wrapper {
    position: absolute;
    button {
        margin: 20px 0px 0px 20px;
        height: 80%;
        width: 80%;
    }
    button:hover {
        height: 100%;
        width: 100%;
        cursor: none;
    }
    #home {
        img {
            height: 100%;
            width: 100%;
        }
    }
    z-index: 8;
}

.aboutlogo {
    margin: auto;
    height: 28vh;
    width: fit-content;
    img {
        height: 100%;
        width: 100%;
    }
}

.box {
    width: 100%;
}

.about {
    margin-top: 40px;
    height: fit-content;
    width: 100%;
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
}

.wrappper {
    position: absolute;
    width: 100%;
    margin: calc(28vh + 30px) auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 7;
    .cred {
        padding: 30px;
        background-color: white;
        border-radius: 12px;
        h2 {
            margin-bottom: 20px;
        }
        .container {
            display: flex;
            .divisor {
                width: 1px;
                background: black;
                margin: 0 10px 0 10px;
            }
        }
    }
    .copyright{
        margin-top: 20px;
    }
}
